* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --primary-color: hsl(158, 36%, 37%);
  --primary-color-dark: hsl(158, 36%, 20%);
  --text-color: hsl(228, 12%, 48%);
  --bg-color: hsl(30, 38%, 92%);
  --color-white: hsl(0, 0%, 100%);
  --header-text-color: hsl(212, 21%, 14%);
  --font-main: "Montserrat", sans-serif;
  --font-helper: "Fraunces", serif;
}

body {
  background-color: var(--bg-color);
  height: 100vh;
  display: flex;

  justify-content: center;
  align-items: center;
  gap: 2rem;
  color: var(--text-color);
  font-family: var(--font-main);
  font-size: 1.4rem;
  line-height: 1.6;
}

.product-card {
  display: flex;
  flex-direction: row;
  max-width: 60rem;
  background-color: var(--color-white);
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.product-image,
.product-details {
  flex: 1;
}

.product-image picture,
.product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-details {
  padding: 2.5rem 3rem;
  display: flex;
  flex-direction: column;
}

.category {
  letter-spacing: 6px;
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 2rem;
  font-weight: 600;
}

.product-details h1 {
  color: var(--header-text-color);
  line-height: 1.05;
  font-size: 3.6rem;
  margin-bottom: 1.6rem;
  font-family: var(--font-helper);
  font-weight: 700;
}

.product-description {
  margin-bottom: 1.6rem;
}

.product-price {
  font-size: 3.2rem;
  font-weight: 700;
  font-family: var(--font-helper);
  color: var(--primary-color);
  margin-bottom: 1.4rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.product-price span {
  font-size: 1.2rem;
  color: var(--text-color);
  text-decoration: line-through;
}

.product-details button {
  display: inline-block;
  cursor: pointer;
  font-size: 1.2rem;
  margin-top: auto;
  background-color: var(--primary-color);
  border: none;
  padding: 1.2rem 0;
  border-radius: 1rem;
  color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-weight: 600;
  font-family: inherit;
  transition: background-color 0.3s ease;
}

.product-details button:active {
  background-color: var(--primary-color-dark);
}

.product-details button ion-icon {
  font-size: 2rem;
}

@media (max-width: 768px) {
  .product-card {
    flex-direction: column;
    max-width: 75%;
  }
  .category {
    font-size: 1.6rem;
    letter-spacing: 1rem;
  }
  .product-details h1 {
    font-size: 5rem;
  }
  .product-description {
    font-size: 2.4rem;
  }
  .product-price {
    font-size: 5rem;
  }
  .product-price span {
    font-size: 1.8rem;
  }
  .product-details button {
    font-size: 2rem;
    padding: 2rem 0;
  }
}

@media (max-width: 600px) {
  .category {
    font-size: 1.4rem;
    letter-spacing: 6px;
  }
  .product-details h1 {
    font-size: 3.8rem;
  }
  .product-description {
    font-size: 1.8rem;
  }
  .product-price {
    font-size: 3.6rem;
  }
  .product-price span {
    font-size: 1.4rem;
  }
  .product-details button {
    font-size: 1.8rem;
    padding: 1.4rem 0;
  }
}

@media (max-width: 375px) {
  .category {
    font-size: 0.8rem;
    letter-spacing: 4px;
    margin-bottom: 0.8rem;
  }
  .product-details h1 {
    font-size: 2.8rem;
  }
  .product-description {
    font-size: 1.2rem;
  }
  .product-price {
    font-size: 2.8rem;
  }
  .product-price span {
    font-size: 0.8rem;
  }
  .product-details button {
    font-size: 1rem;
    padding: 1rem 0;
  }
}
